@use "variables" as vars;

.columns {
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-around;
    
    div {
	text-align: justify;
	padding-right: 2rem;
	flex: 0 0 calc(60% - 2rem);
    }

    figure {
	flex: 0 0 40%;
	
	img {
	    object-fit: cover;
	    height: 100%;
	    width: 100%;
	    min-width: 100%;
	    min-height: 100%;
	}
    }

    // A small workaround to make stuff flex nicely
    @media screen and (max-width: 815px) {
	div {
	    padding-right: 1rem;
	    flex: 0 0 calc(45% - 1rem)
	}

	figure {
	    flex: 0 0 55%;
	}
    }
    
    @media screen and (max-width: vars.$breakpoint-small) {
	flex-direction: column-reverse;

	div {
	    width: 100%;
	}

	figure {
	    width: 100%;
	}
    }
}

