$black: #000000;
$white: #ffffff;

$light-blue-grey: #afbfff;
$dark-grey: #2f2f2f;
$dark-purple: #1f0f2f;
$toxic-green: #9fcf3f;
$light-beige: #ffdfbf;
$blue-grey: #5fafcf;
$skin: #ffbf9f;
$true-purple: #4f4f6f;
$purple-grey: #6f6f8f;
$bronze: #efaf1f;
$light-pink: #ff9faf;
$gold: #ffff4f;

$light-grey: #9f9f9f;
