@use "variables" as vars;

figure {
    margin: 2rem 0 2rem 0;
    width: 100%;

    img {
	width: 100%;
    }
}

figcaption {
    color: vars.$light-grey;
    font-size: 1.4rem;
}

.figure-number {
    display: none;
}

