@import "variables";

footer {
    border-top: 2px solid $black;
    margin: 0 auto 0 auto;
    padding: 0 2rem 0 2rem;
    text-align: center;
    max-width: $content-width;
    background-color: $surface;
    height: $footer-height;

    @media screen and (max-width: $breakpoint-small) {
	height: $footer-height-small;
    }
    
    .contact {
	padding-top: 2rem;
	    
	p {
	    margin: 0;
	    font-size: 1.4rem;
	}
   
	div {
	    padding: 1rem 0 1rem 0;
	    a > img {
		margin: 0 0.25rem 0 0.25rem;
		fill: $black;
		background-color: $secondary;
		border-radius: 50%;
		max-width: 2rem;
		max-height: 2rem;
		padding: 0.25rem;	
	    }
	}
    }

    .cc-by {
	padding: 1rem 0 0 0;

	p {
	    margin: 0.5rem 0 0 0;
	    font-size: 1.2rem;
	    color: $light-grey;
	}
    }
}

