@use "variables" as vars;

footer {
    border-top: vars.$footer-border solid vars.$black;
    margin: 0 auto 0 auto;
    padding: 0 2rem 0 2rem;
    text-align: center;
    max-width: vars.$content-width;
    background-color: vars.$surface;
    height: vars.$footer-height;

    @media screen and (max-width: vars.$breakpoint-small) {
	height: vars.$footer-height-small;
    }
    
    .contact {
	padding-top: 2rem;
	    
	p {
	    margin: 0;
	    font-size: 1.4rem;
	}
   
	div {
	    padding: 1rem 0 1rem 0;
	    a > img {
		margin: 0 0.25rem 0 0.25rem;
		fill: vars.$black;
		background-color: vars.$secondary;
		border-radius: 50%;
		max-width: 2rem;
		max-height: 2rem;
		padding: 0.25rem;	
	    }
	}
    }

    .cc-by {
	padding: 1rem 0 0 0;

	p {
	    margin: 0.5rem 0 0 0;
	    font-size: 1.2rem;
	    color: vars.$light-grey;
	}
    }
}

