@import "variables";

.experience {
    div {
	margin: 2rem 0 0 0;
	display: flex;
	white-space: nowrap;
	flex-wrap: wrap;
	justify-content: space-between;
	color: $light-grey;
	
	h4 {
	    margin: 0;
	}
    }

    h3 {
	color: $secondary;
	margin-top: 0.5rem;
    }
}

