$black: #000000;
$white: #fffafa;
$toxic-green: #9fcf3f;
$bronze: #efaf1f;
$light-pink: #ff9faf;
$gold: #ffff4f;
$light-grey: #9f9f9f;
$darkest-grey: #252428;
$purple: #3b2747;

$base-size: 10px;
$content-width: 94rem;
$header-height: 4rem;
$footer-height: 20rem;
$footer-height-small: 24rem;
$footer-border: 0.2rem;
$breakpoint-small: 640px;

$primary: $purple;
$on-primary: $white;
$secondary: $toxic-green;
$background: $black;
$on-background: $white;
$surface: $darkest-grey;
$link-color: $bronze;
$link-hover-color: $gold;

